:root{
    --blue: #4da6e7;
    --pop: 'Poppins', sans-serif;
    --grey: #afafaf;
    --dark-blue: blue;
    --font-size-large: 100px; 
    --font-size-medium: 30px; 
    --font-size-heading: 50px;
    --font-text: 20px;
    --weight-90: 900;
    --weight-50: 500;
    --weight-20: 200;
    
  }
  *{
    font-family: 'Raleway', sans-serif;
  }
.grid-box{
    margin-top: 7%;
    /* border: 5px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 50vh; */

}
/* Grid1 styling */
.grid1-digi{
    /* border: 5px solid blue; */
    display: flex;
    flex-direction: column-reverse;
    gap: 20;
    /* padding: 20% 0; */
    margin: -100px auto;
}

.grid1Heading{
    font-size: var(--font-size-large);
    font-weight: bolder;
    color: var(--blue)
    ;
}
.grid1Subheading{
    font-size: larger;
    text-align: center;
}
/* Grid2 styling */
.grid2-digi{
    /* border: 5px solid blue; */
    /* border: 1px solid black; */
    /* border-radius:50px; */
    /* box-shadow: 0px 5px 8px rgb(0 0 0 / 3%); */
}
.login-box{
    /* border: 3px solid blue; */
    padding: 20px;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 20px 20px 5px rgb(0 0 0 / 7%);
    border: 1px solid grey;
    border-radius: 30px;
}
.heading{
    text-align: center;
    font-size: var(--font-size-medium);
    color: var(--blue);
    font-weight: var(--weight-90);
}
.email-password-btn{
    margin: 20px;
}
.email,.pass{
    margin-bottom: 10px;
}
.space{
    padding: 10px;
    border-radius: 30px;
    margin: 10px 0;
    width: 60%;
    border: 3px solid var(--blue);
}
.space-btn{
    padding: 10px;
    border-radius: 30px;
    margin: 10px 0;
    text-align: center;
    margin: 0 auto;
    display: flex;
    background-color: var(--blue);
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}
.forgot-text{
    font-size: 10px;
    color: var(--blue);
    cursor: pointer;
}
.forgot-text:hover{
    font-weight: 900;
}
.create{
    font-size: 20px;
    color: var(--blue);
    cursor: pointer;
}
.bg-login{
    max-width: 100%;
    height: 50%;
}

/* MOBILE STYLING */
@media only screen and (max-width: 767px) {
    .login{
        font-family: sans-serif;
    }
    .grid-box{
        margin-top: 20%;
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .grid1-digi{
        display: none;
        
    }
    .grid2-digi{
        width: 100%;
    }
    .email-text,.forgot-text,.create,.space-btn,.space{
        font-weight: var(--weight-90);
        font-size: x-large;
    }
    .heading{
        font-size: xxx-large;
        font-weight: var(--weight-90);
    }
    .space{
        width: 80%;
    }
  }
  
